.ItemCardItems{
    display: flex;
   
  
}

.ItemCard{
    width: 100%;
    height: auto;
    overflow: 'auto';
    background-color: #def3ff;
    padding: 22px;
    justify-content: center;
    align-items: flex-end;
    flex-flow: wrap;
    padding-top: 4rem;
    padding-bottom: 50px;    
}